.accordion {
    min-width: 300px;
    max-height: 110px;
    border-radius: 3px;
    /* height: 70%; */
    padding-left: 10px;
    /* background-color: aqua; */
}

.accordion-visible {
    background-color: inherit;
    /* border: 1px solid black; */
    /* border: none; */
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
}
.accordion-visible span {
    padding: 15px 0;
    font-size: 20px;
    /* font-weight: bold; */
    text-transform: capitalize;
}
.accordion-visible img {
    width: 20px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
    transform: rotate(90deg)
}

.accordion-visible h2 {
    font-size: 20px;
}

.accordion-toggle {
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
    margin: 0;
    /* padding: 22px 15px 0px 15px; */
    padding: 5px ;
    pointer-events: none;
    line-height: 1.3;
    /* background-color: rebeccapurple; */
}

@media screen and (max-width: 800px) {
    
    .accordion-toggle p {
        margin: 0;
        padding: 5px 10px 5px 10px;
        pointer-events: none;
        line-height: 1.3;
    }
    
    .accordion {
        min-width: 300px;
        max-height: 70px;
        border-radius: 3px;
        /* background-color: blue; */
    }
    .accordion-visible {
        /* background: #943f3f; */
        border: none;
        width: 100%;
        height: 25px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .accordion-visible span {
        padding: 15px 0;
        font-size: 15px;
        font-weight: bolder;
        text-transform: capitalize;
    }
    
}