.containerButtonCart-jz-ts {
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.containerButtonContinuerDeShopper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonContinuerDeShopper button {
    font-size: clamp(10px, 4.5vw, 35px);
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(138, 136, 139);
}
.containerButtonCommander {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonCommander button {
    font-size: clamp(10px, 5vw, 35px);
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(138, 136, 139);
}

/*
.cart h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
}

.cart {
    background-color: rgb(138, 136, 139);
    height: 120vh;
    width: 100%;
}
.cart-center {
    display: flex;
    height: 100%;
}
.cart-info {
    text-align: center;
    padding: 10px;
}
.single-cart {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin: 10px 5px;
    margin-top: 0;
    align-items: center;
    background-color: rgb(236,236,236);
}
.sameItem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex: 0 0 30%;
    color: #000000;
    letter-spacing: 0.1rem;
}
.fontChange-yzx {
    color: #000000;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontChange-yzx p {
    font-size: 20px;
}
.counting {
    background-color: darkkhaki;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting button {
    width: 25px;
    border: none;
    background-color: burlywood;
}
.price {
    background-color: coral;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.single-cart {
    width: 100%;
    background-color: springgreen;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
        1fr 3fr 1fr 1fr 1fr .8fr 1fr 1fr
    ;
    justify-self: center;
    padding: 0;
    margin: 0;
}
 .cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}
.single-cart img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.delete-item {
    background-color: cadetblue;
}
.delete-item .fa-trash {
    color: black;
    cursor: pointer;
    width: 30px;
}




.cart-results {
    border: 1px solid grey;
    width: 4000px;
    height: 180px;
    margin-top: 10px;
    background-color: #df9494;
}
.cart-results h3 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(48, 47, 47);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.cart-results h4 {
    margin: 5px;
    color: rgb(51, 51, 51);
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
}
.cart-results h4 span {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
}

.single-cart-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .cart-center {
        display: block;
    }
    .cart-info {
        flex: 1;
    }
    .cart-results {
        width: 300px;
        margin-left: 65%;
        align-self: flex-start;
        background-color: aqua;
    }
    .cart-results h3 {
        margin-top: 10px;
        text-transform: capitalize;
    }
}

@media screen and (max-width:850px) {
    .containerButtonCart-jz-ts {
        width: 100%;
        height: 14vh;
        margin-top: 20px;
        border: 1px solid #333;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .cart-results {
        width: 280px;
        height: 150px;
        margin-left: 1rem;
        margin-top: 3rem;
        border: 1px solid #333;
        background-color: rgb(165, 155, 16);
    }
    .single-cart {
        display: none;
    }
    .single-cart-mobile {
        background-color: black;
        width: 100%;
        height: 80vh;
    }
} */