.containerButtonCart-jz-ts {
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.containerButtonContinuerDeShopper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonContinuerDeShopper button {
    font-size: clamp(10px, 4.5vw, 35px);
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff;
}
.containerButtonCommander {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonCommander button {
    font-size: clamp(10px, 5vw, 35px);
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff;
}



.cart h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
}

.cart {
    height: 100%;
    width: 100%;
}

.cart-center {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    display: flex;
    justify-content: center;
}
.cart-info {
    text-align: center;
    padding: 50px 5px;
    height: 100%;
    width: 90%;
}
.single-cart {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    align-items: center;
    height: 20vh;
}
.sameItem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    letter-spacing: 0.1rem;
}
.fontChange-yzx {
    color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontChange-yzx p {
    font-size: 20px;


}
.single-cart {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
        1fr 2.7fr .7fr 1fr 1fr .8fr 1fr 1fr
    ;
    justify-self: center;
    padding: 0;
    margin: 0;
}
 .cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.single-cart img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.counting {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting button {
    width: 25px;
    border: none;
}
.price {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-item .fa-trash {
    color: black;
    cursor: pointer;
    width: 30px;
}



.cart-results {
    border: 1px solid #000000;
    width: 280px;
    height: 180px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 53rem;
}
.cart-results h3 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(48, 47, 47);
    font-size: 22px;
    font-style: normal;
}
.cart-results h4 {
    margin: 5px;
    color: rgb(51, 51, 51);
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
}
.cart-results h4 span {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.single-cart-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .cart-center {
        display: block;
    }
    
    .cart-results {
        width: 300px;
        margin-left: 65%;
        align-self: flex-start;
    }
    .cart-results h3 {
        margin-top: 10px;
        text-transform: capitalize;
    }
}

@media screen and (max-width:850px) {
    
    .cart {
        height: 100%;
    }

    .containerButtonCart-jz-ts {
        width: 100%;
        height: 14vh;
        margin-top: 20px;
        border: 1px solid #333;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .cart-info {
        padding: 0;
        width: 100%;
        height: 100%;
    }
    
    .single-cart {
        display: none;
    }
    .cart-center {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 180vh;
    }

    .single-cart-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }


    .gridCartMobileImg {
        height: 100%;
        width: 100%;
    }
    .gridCartMobileImg img {
        width: 100%;
        height: 100%;
    }


    .gridCartMobileInfos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .2fr .2fr .1fr .9fr;
    }
    .cart-title-mobile h4 {
        font-size: 15px;
    }
    .fontChange-yzx-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 3px;
    }
    .fontChange-yzx-mobile p {
        font-size: 15px;
    }
    .counting-mobile {
        display: flex;
    }
    .counting-mobile button {
        font-weight: bold;
        width: 20px;
        background-color: #ffffff;
        border: none;
    }
    .price-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }
    .delete-item-mobile {
        text-align: end;
        padding-right: 5px;
        margin-bottom: 5px;
    }
    .cart-results {
        width: 280px;
        height: 150px;
        margin-left: 1rem;
        margin-top: 3rem;
        border: 1px solid #333;
    }
    .counting button {
        width: 25px;
        border: none;
    }
}