/******* Display Grid button Retour/Commander ********/
.containerButtonCart-jz-ts {
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.containerButtonContinuerDeShopper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonContinuerDeShopper button {
    font-size: clamp(10px, 9vw, 25px);
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
}
.containerButtonCommander {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #000000;
}
.containerButtonCommander button {
    font-size: clamp(10px, 9vw, 25px);
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
}
/*********************** END Display Grid button ************************/

.cart h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
}

.cart {
    /* background-color: rebeccapurple; */
    height: 130vh;
    width: 100%;
}
.cart-center {
    display: flex;
    /* background-color: aqua ; */
}
.cart-info {
    text-align: center;
    /* background-color: brown; */
    padding: 10px;
}
.single-cart {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin: 10px 5px;
    margin-top: 0;
    align-items: center;
    background-color: rgb(236,236,236);
}
.sameItem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex: 0 0 30%;
    color: #000000;
    letter-spacing: 0.1rem;
}
.fontChange-yzx {
    color: #000000;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontChange-yzx p {
    font-size: 20px;
}
.counting {
    background-color: darkkhaki;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting button {
    width: 25px;
    border: none;
    background-color: burlywood;
}
.price {
    background-color: coral;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*************  Display Grid Single Cart  *****************/
.single-cart {
    background-color: springgreen;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
        1fr 3fr .8fr .8fr .8fr 1fr 1fr 1fr
    ;
    justify-self: center;
    padding: 0;
    margin: 0;
}
 .cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}
.single-cart img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.delete-item {
    background-color: cadetblue;
}
.delete-item .fa-trash {
    color: black;
    cursor: pointer;
    width: 30px;
}




/********* CART Result div ***********/
.cart-results {
    border: 1px solid grey;
    /* padding: 10px; */
    /* margin-top: 30px; */
    width: 4000px;
    height: 180px;
    margin-top: 10px;
    background-color: #df9494;
}
.cart-results h3 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(48, 47, 47);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.cart-results h4 {
    margin: 5px;
    color: rgb(51, 51, 51);
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
}
.cart-results h4 span {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
}


/******************* MEDIA QUERIES ***********************/
@media screen and (max-width: 1000px) {
    .cart-center {
        display: block;
        background-color: aqua ;
    }

    .cart-info {
        flex: 1;
    }
    .cart-results {
        width: 300px;
        margin-left: 65%;
        align-self: flex-start;
        /* margin-top: 0; */
    }
    .cart-results h3 {
        margin-top: 10px;
        text-transform: capitalize;
    }
    .single-cart {
        /* margin-right: 30px; */
    }
}

/********************    MEDIA QUERIES ---> 850px    **************************/
@media screen and (max-width:850px) {
    .single-cart {
        background-color: #eee34d;
    }

    .cart-results {
        margin-left: 55%;
    }
}