/* .details {
    background-color: rgb(146, 146, 146);
} */

/* .insideContainerDetails {
    background-color: yellow;
} */

/* Grid Button */
.detailsBtn {
    margin-top: 20px;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: flex-start;
    /* background-color: rgb(255, 80, 255); */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.buttonGridDetails {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #333;
}
.buttonGridDetails button {
    cursor: pointer;
    /* margin-right: 10px; */
    /* padding: 10px 20px; */
    font-size: clamp(15px, 6vw, 30px);
    width: 100%;
    height: 100%;
    border: none;
    /* background-color: #333; */
    outline: none;
    /* transition: all 0.5s ease-in-out; */
    color: black;
}
.buttonGridDetails p {
    margin: auto;
    font-size: clamp(15px, 6vw, 30px);
}
/* End Grid Button */


.details h3 {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-style: italic;
}

/* GRID PRODUCT */
.detailsCenter {
    /* background-color: rgb(133, 132, 132); */
    border: 1px solid lightgrey;
    /* padding: 10px 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
}

.detailsImg {
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: blue; */
    height: 45vh;
    width: 80%;
    /* margin: 0 auto; */
    /* text-align: center; */
}

.detailsImg img {
    /* background-color: rgb(209, 26, 26); */
    /* width:%; */
    border: 5px solid #333;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.detailsInfoGrid {
    background-color: #f4d0d0;
    /* margin-top: 20px; */
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
/* .wrapperGridDetailsInfo {
    background-color: rgb(70, 219, 65);
    width: 100%;
    height: 50%;
} */

.detailsInfoGrid h4 {
    width: 100%;
    /* background-color: grey; */
    text-align: start;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.detailsInfoGrid p {
    /* background-color: rgb(30, 176, 243); */
    width: 100%;
    margin-top: 20px;
}

/***************   DROPDOWN   **********************************************/

/***************   DROPDOWN   **********************************************/


/* BTN Retour */
.containerLinkRetour {
    padding: 3rem 3rem 3rem 6rem;
}
.containerLinkRetour button {
    border-radius: 20px;
    border: 1px solid #333;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #f4d0d0;
}
.linkRetour {
    color: black;
    font-size: clamp(10px, 6vw, 20px);
}

@media screen and (max-width: 900px) {
    .detailsCenter {
        border: 1px solid lightgrey;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .detailsImg img {
        /* background-color: rgb(209, 26, 26); */
        width:100%;
        border: 5px solid #333;
        height: 100%;
        /* margin: 0 auto; */
        /* text-align: center; */
        /* display: block; */
    }
}

/* .detailsPrice {
    margin: 10px 0;
    font-weight: bold;
    background-color: pink;
} 
/* .detailsPrice span {
    color: crimson;
} */



/* .detailsBtn button:hover {
    cursor: pointer;
    border: 1px solid green;
} */

/* @media screen and (min-width: 664px) {
    .detailsBtnCenter {
        display: flex;
        flex-wrap: wrap;
    }
    .detailsImg {
        flex: 35%;
    }
    .detailsImg img {
        width: 100%;
    }
    .detailsInfo {
        flex: 50%;
        padding-left:20px ;
    }
}
@media screen and (min-width: 964px) {
    .detailsBtnCenter {
        display: flex;
        flex-wrap: wrap;
    }
    .detailsImg {
        flex: 0 0 calc(40% - 0);
        height: 350px;
    }
    .detailsImg img {
        width: 100%;
    }
    .detailsInfo {
        flex: 0 0 calc(60% - 0);
        padding-left: 20px;
    }
    .detailsBtn button {
        margin-top: 20px;
    }
} */

