
.details {
    width: 100%;
    overflow: hidden;
    height: 130vh;
}

.detailsBtn {
    margin-top: 20px;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.buttonGridDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #333;
}
.buttonGridDetails button {
    cursor: pointer;
    font-size: clamp(10px, 5vw, 30px);
    width: 100%;
    height: 100%;
    border: none;
    color: #000000;
    background-color: #ffffff;
}
.buttonGridDetails p {
    margin: auto;
    font-size: clamp(15px, 6vw, 30px);
}


.details h3 {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.detailsCenter {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
}

.detailsImg {
    height: 100%;
    width: 100%;
}

.detailsImg img {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.detailsInfoGrid {
    background-color: #f4d0d0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.detailsInfoGrid h4 {
    width: 100%;
    text-align: start;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.detailsInfoGrid p {
    width: 100%;
    margin-top: 20px;
}


.containerLinkRetour {
    padding: 3rem 6rem 3rem 6rem;
}
.containerLinkRetour button {
    border-radius: 20px;
    border: none;
    padding: 0.3rem 2rem 0.3rem 2rem;
    background-color: #f4d0d0;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3)  ; 
}
.linkRetour {
    color: black;
    font-size: clamp(10px, 6vw, 20px);
}

@media screen and (max-width: 800px) {
    
.details {
    width: 100%;
    overflow: hidden;
    height: 150vh;
}
    
    .detailsCenter {
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 4fr 1fr;
    }

    .detailsBtn {
        margin-top: 20px;
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: flex-start;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .detailsInfoGrid {
        background-color: #f4d0d0;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .detailsImg {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .detailsImg img {
        width:100%;
        height: 100%;
    }
    .containerLinkRetour {
        padding: 3rem 6rem 3rem 2rem;
    }
    .buttonGridDetails button {
        background-color: #ffffff;
    }
}

