

    .containerHome {
        width: 100%;
        height: 150vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 4fr;
    }
    .containerHomeImg {
        overflow: hidden;
        background-color: grey;
        display: flex;
        transition: 5s ease;
    }
    .containerHomeImg img:nth-child(1) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 9;
    }

    /*** Animation Image ***/
    .img1 {
        position: absolute;
        z-index: 20;
        width: 70%;
        height: 80%;
        margin-top: 10%;
        margin-left: 26%;
    }
    /*** Animation Image ***/


    .containerHomeText {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
    }
    .divPHome {
        background-color: #f4d0d0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 100px 10px 100px;
    }
    /** DISPLAY : GRID **/
.containerHomeButton {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    margin-top: 20%;
}
.secondButtonGridHome button {
    background-color: #f4d0d0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: inset 0 5px 14px rgba(0, 0, 0, 0.3) inset ; 
    -webkit-box-shadow: inset 0px 4px 5px 1px rgba(0, 0, 0, 0.3)  ; 
    -moz-box-shadow: inset 0 8px 14px rgba(0, 0, 0, 0.3)  ;
}

@media screen and (max-width: 1030px) {
    .containerHomeButton {
        margin-top: 25%;
    }
}
@media screen and (max-width: 950px) {
    .containerHomeButton {
        margin-top: 28%;
    }
    .img1 {
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .containerHomeButton {
        margin-top: 31%;
    }
}





@media screen and (max-width: 800px) {
.containerHome {
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 4fr;
}
.containerHomeImg {
    overflow: hidden;
}
.containerHomeText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}
.divPHome {
    background-color: #f4d0d0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/** DISPLAY : GRID **/
.containerHomeButton {
    /* background-color: greenyellow; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    margin-top: 71%;
}
.secondButtonGridHome button {
    background-color: #f4d0d0;
    padding: 10px;
    border-radius: 30px;
}

}