.navbar {
	border-bottom: 1px solid #000000;
	height: 80px;
	width: 100%;
    z-index: 1000;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;

}

.shopping-cart > span {
	background-color: rgb(136, 136, 136);
	border-radius: 100%;
	padding: 2px 7px 2px 7px;
	color: white;
}

.gridNavBar {
    display: grid;
    grid-template-columns: 4.8fr 2.2fr .5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
}
.navBarGridLogo {
    width: 100%;
}
.navBarGridLogo a {
	color: hsl(0, 0%, 0%);
}
.navBarGridSearchBar {
    width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.navBarGridIconMenu {
    width: 100%;
}
.navBarGridIconCart {
    width: 100%;
}
.nav-logo {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: clamp(10px, 5vw, 30px);
	margin-left: 5%;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: white;
	transition: 0.3s all;
}

.nav-link:hover {
	color: rgb(0, 0, 0);
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
	color: #333;
}

@media only screen and (max-width: 2000px) {
	.navbar {
		position:relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align:start;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
		font-size: 25px;
	}

	.nav-links.active {
		background-color: burlywood;
		background: rgb(238, 238, 238);
		left: 0;
		overflow-y: hidden;
	overflow-x: hidden;
	}

	.nav-link {
		color: #333;
	}

	.nav-item {
		padding: 10px 0;
		width: 100%;
		border-bottom: 1px solid rgb(0, 0, 0);
	}

	.nav-icon {
		display: flex;
	}
}

@media screen and (max-width:800px) {
	.gridNavBar {
		display: grid;
		grid-template-columns: 2fr 6fr 1.8fr 1fr;
		grid-template-rows: 1fr;
		width: 100%;
		align-items: center;
	}
	.navBarGridIconCart {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.navBarGridSearchBar {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.navBarGridLogo {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}