.searchbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 40px;
    transition: 0.4s linear;
    margin-right: 5%;
    overflow: hidden;
  }
 .searchbox .searchbox__input {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #000000;
    padding: 5px;
    color: #24233A;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s linear;
  }
 .searchbox .searchbox__input::placeholder {
    color: #24233A;
  }
 .searchbox .searchbox__icon {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(80%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
.searchbox .searchbox__icon path {
    fill: #ffffff;
    transition: 0.4s linear;
  }
 .searchbox:focus-within {
    max-width: 300px;
  }
.searchbox:focus-within .searchbox__input {
    background-color: #FFF;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
.searchbox:focus-within .searchbox__icon path {
    fill: #24233A;
  }


  @media screen and (max-width:800px) {
    .searchbox {
      position: relative;
      display: block;
      width: 100%;
      max-width: 40px;
      transition: 0.4s linear;
      margin-right: 3%;
      overflow: hidden;
    }
    .searchbox .searchbox__input {
      display: block;
      appearance: none;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 50px;
      background-color: #000000;
      padding: 5px;
      color: #24233A;
      font-size: 20px;
      cursor: pointer;
      transition: 0.4s linear;
    }
    .searchbox .searchbox__icon {
      position: absolute;
      right: calc(53px / 2);
      top: 50%;
      transform: translate(80%, -50%);
      width: 20px;
      height: 20px;
      pointer-events: none;
    }
  }