* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: yellow;
}
.products {
  background-color: rgb(153, 153, 153);
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
}

.inside-container { 
  /* max-width: 1280px; */
  height: 100vh;
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0 10px;
  background-color: aqua;
}

@media screen and (max-width:700px) {
  .products {
    width: 100%;
    height: 300vh;
  }
}